* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth !important;
}
